.main {
    margin: 2em 1em 0 1em;
    position: relative;
    text-align: center;

    .headerTabs {
        // background-color:aquamarine;
        display: flex;
        justify-content: space-between;

        button {
            border: 2px solid #373535;
            font-size: 18px;
            background-color: black;
            padding: 10px;
            color: orange;

            &.selected {
                color: black;
                background-color: orange;
                border: 2px solid #373535;
            }
        }
    }

    hr {
        border-bottom: 1px solid #373535;
    }

    .noData {
        color: white;
        top: 20%;
        position: fixed;
        left: 0;
        margin: 0 1em;
        right: 0;

        h4 {
            font-family: cursive;
        }
    }

    .divItem {
        border: 2px solid orange;
        background-color: whitesmoke;
        color: black;
        margin: 1em 0;
        padding-left: 10px;
        text-align: start;
        display: grid;
        

        p {
            font-style: italic;
            width: 90%;
        }

        small {
            &.urlText {
                width: 85%;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        span {
            font-size: small;

            &.title {
                font-weight: bold;
            }

            &.subtitle {
                font-weight: lighter;
            }
        }

        button {
            width: 10%;
            border: 2px solid;
            position: absolute;
            border-radius: 5px;
            right: 0;
        }
    }



}