.main {
    margin: 2em 1em;
    text-align: center;

    h1 {
        color: orange;
    }

    .item {
        border: 2px solid orange;
        border-radius: 15px;
        text-align: start;
        padding-left: 10px;
        margin-bottom: 1em;
        background-color: #373535;
        color: white;
        &.today {
            background-color: #625d08;
        }

        .iconState {
            float: right;
            margin-top: -3em;
            width: auto;
            margin-right: 5px;

            img {
                width: 15%;
                margin-left: 85%;
                margin-top: 15px;
            }
        }

        small {
            &.noActivity {
                color: #ff7c7c;

            }

            color: #50b64a;
            display: inline-block;
        }

    }
}