<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="my-trips" href="/tabs/my-trips">
      <!-- <ion-icon aria-hidden="true" name="triangle"></ion-icon> -->
      <ion-icon name="airplane-outline"></ion-icon>
      <ion-label>Mis viajes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exchange-rate" href="/tabs/exchange-rate">
      <!-- <ion-icon aria-hidden="true" name="ellipse"></ion-icon> -->
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Tipo de cambio</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
