/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


ion-fab-button {
    --background: orange;
    --border-radius: 15px;
    --color: black;
}


ion-content {
    --background: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}


.formItem {
    margin-top: 2em;

    label {
        color: white;
    }

    input {
        width: 100%;
        border: 2px solid #373535;
        padding: 6px 6px 6px 15px;
        border-radius: 10px;
        height: 50px;
    }

    textarea {
        width: 100%;
        padding: 10px;
        border: 2px solid #373535;
        border-radius: 10px;
        white-space: pre-line;
        background: white;
    }

    .divError {
        text-align: center;

        .error {
            font-size: small;
            color: red;
        }
    }

}

.actionButtons {
    display: grid;
    margin-top: 5%;

    button {
        border-radius: 10px;
        font-weight: 600;
        padding: 6px 10px;
        margin-top: 4%;
        font-size: 20px;
        border: 2px solid black;
        height: 45px;
        &.confirm {
            background: #8ffb8f;
        }

        &.cancel {
            background: red;
        }
    }
}


.redOption {
    color: red !important;
}

.blackOption {
    color: black !important;
}