<ion-content [fullscreen]="true">

  <div class="main">
    <div class="noTrips" *ngIf="trips && trips.length == 0">
      <h4>Aún no tienes viajes programados/en progreso.</h4>
      <br>
      <img src="../../assets/no_trips.png" width="50%" alt="" srcset="">
      <br>
      <button class="createTrip" (click)="redirectToCreateTripView()">
        Agregar nuevo viaje
      </button>
    </div>
    <div class="listTrips" *ngIf="trips && trips.length > 0">
      <button class="createTrip" (click)="redirectToCreateTripView()">
        Agregar nuevo viaje
      </button>
      <br>
      <br>

      <div *ngFor="let trip of trips" class="card" (click)="redirectToTripInfoView(trip.id)" >
        <h2 *ngIf="trip.name">{{trip.name}}</h2>
        <p *ngIf="trip.description">{{trip.description}}</p>
        <small class="smallTitle" *ngIf="trip.startDate">Fecha de inicio: </small> <small>{{trip.startDate}}</small> <br>
        <small class="smallTitle" *ngIf="trip.endDate">Fecha final: </small><small>{{trip.endDate}}</small>
      </div>

    </div>
  </div>

</ion-content>