.main {
    margin: 5em 1em;
    text-align: center;


    .formItem {
        margin-top: 2em;

        input {
            width: 100%;
            border: 2px solid black;
            padding: 6px 6px 6px 15px;
            border-radius: 10px;
        }

        textarea {
            width: 100%;
            padding: 10px;
            border: 2px solid black;
            border-radius: 10px;
            white-space: pre-line;
            background: white;
        }

        .divError {
            text-align: center;

            .error {
                font-size: small;
                color: red;
            }
        }

    }

    .actionButtons{
        display: grid;
        margin-top: 5%;
        button {
        border-radius: 10px;
        font-weight: 600;
        padding: 6px 10px;
        margin-top: 4%;
        font-size: 20px;
        border: 2px solid black;
        &.createTrip {
            background: #8ffb8f;
        }
        &.cancel {
            background: red;
        }
    }
    }

    
}